src/by/it/loktev/jd02_07/XSD/picture222.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="LOKTEV_PICTURE" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="picture" type="lok:pictureType" xmlns:lok="LOKTEV_PICTURE"/>
  <xs:complexType name="pictureType">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element type="lok:squareType" name="square" maxOccurs="unbounded" minOccurs="0" xmlns:lok="LOKTEV_PICTURE"/>
      <xs:element type="lok:circleType" name="circle" xmlns:lok="LOKTEV_PICTURE"/>
      <xs:element type="lok:textType" name="text" xmlns:lok="LOKTEV_PICTURE"/>
      <xs:element type="lok:groupType" name="group" xmlns:lok="LOKTEV_PICTURE"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="squareType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="left" use="optional"/>
        <xs:attribute type="xs:string" name="top" use="optional"/>
        <xs:attribute type="xs:string" name="width" use="optional"/>
        <xs:attribute type="xs:string" name="height" use="optional"/>
        <xs:attribute type="xs:string" name="stroke" use="optional"/>
        <xs:attribute type="xs:string" name="fill" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="textType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="left" use="optional"/>
        <xs:attribute type="xs:string" name="top" use="optional"/>
        <xs:attribute type="xs:string" name="centerx" use="optional"/>
        <xs:attribute type="xs:string" name="centery" use="optional"/>
        <xs:attribute type="xs:string" name="radius" use="optional"/>
        <xs:attribute type="xs:string" name="fill" use="optional"/>
        <xs:attribute type="xs:string" name="stroke" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="circleType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="centerx" use="optional"/>
        <xs:attribute type="xs:string" name="centery" use="optional"/>
        <xs:attribute type="xs:string" name="radius" use="optional"/>
        <xs:attribute type="xs:string" name="fill" use="optional"/>
        <xs:attribute type="xs:string" name="stroke" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="groupType">
    <xs:sequence>
      <xs:element type="lok:circleType" name="circle" xmlns:lok="LOKTEV_PICTURE"/>
      <xs:element type="lok:squareType" name="square" xmlns:lok="LOKTEV_PICTURE"/>
      <xs:element type="lok:textType" name="text" xmlns:lok="LOKTEV_PICTURE"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>