src/by/it/radivonik/jd02_07/persons.dtd

<!ELEMENT Persons (Person)+>
<!ELEMENT Person (Email, Nickname, Password, Ads)>
<!ATTLIST Person id>
<!ATTLIST Person name>
<!ELEMENT Email (#PCDATA)>
<!ELEMENT Nickname (#PCDATA)>
<!ELEMENT Password (#PCDATA)>
<!ELEMENT Ads (Ad)+>
<!ELEMENT Ad (Description, Adres, Floor, Floors, Square)>
<!ELEMENT Description (#PCDATA)>
<!ELEMENT Adres (#PCDATA)>
<!ELEMENT Floor (#PCDATA)>
<!ELEMENT Floors (#PCDATA)>
<!ELEMENT Square (#PCDATA)>