src/by/it/kolenda/jd02_07/Clients.dtd

<!ELEMENT Clients (Fiz_lico,Yur_lico)+>
        <!ELEMENT Fiz_lico (Name,Profession,Address,AcctType)>
        <!ELEMENT Name (#PCDATA)>
        <!ELEMENT Profession (#PCDATA)>
        <!ELEMENT Address (#PCDATA)>
        <!ELEMENT AcctType (Depo,Credit,Current)>
        <!ELEMENT Depo (#PCDATA)>
        <!ELEMENT Credit (#PCDATA)>
        <!ELEMENT Current (#PCDATA)>
        <!ELEMENT Yur_lico (Name,Industry,Address,AcctType)>
        <!ELEMENT Industry (#PCDATA)>